body {
    background-image: url(../images/pattern6.png);
    background-size: repeat;
    /*background-position: center center;*/
    margin-bottom: 80px;
}

img {
    margin: 1px;
}

.card-body {
    float: left;
}

.btn-secondary {
    margin: 1px;
}

.btn-secondary:hover {
    background-color: #007ACC;
    border: 1px solid #4285F4;
}

.btn-outline-success {
    color: #ffffff;
    background-color: #6C757D;
    border: 1px solid #6c757d;
}

.btn-outline-success:hover {
    background-color: #007ACC;
    border: 1px solid #4285F4;
}